<footer class="dark:bg-gray-900" id="footer">
	<div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
		<div class="md:flex md:justify-between">
			<div class="mb-6 md:mb-0">
				<a href="{{ site.baseurl }}/" class="flex items-center">
					<img src="{{ site.baseurl }}/assets/images/logo.svg" class="h-8 me-3" alt="Navio Logo" />
				</a>
			</div>
			<div class="grid grid-cols-3 gap-8 sm:gap-6 sm:grid-cols-3">
				<div>
					<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Get Started</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<li class="mb-4">
							<a href="{{ site.baseurl }}/wallets" class="hover:underline">Wallets</a>
						</li>
						<li class="mb-4">
							<a href="{{ site.baseurl }}/exchanges" class="hover:underline">Exchanges</a>
						</li>
						<li class="mb-4">
							<a target="_blank" href="https://blocks.nav.io" class="hover:underline">Blocks</a>
						</li>
						<li class="mb-4">
							<a href="{{ site.baseurl }}/faq" class="hover:underline">FAQ</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">RESOURCES</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<li class="mb-4">
							<a href="{{ site.baseurl }}/#roadmap" class="hover:underline">Roadmap</a>
						</li>
						<li class="mb-4">
							<a href="{{ site.baseurl }}/press-kit" class="hover:underline">Press Kit</a>
						</li>
						<li class="mb-4">
							<a href="{{ site.baseurl }}/blog" class="hover:underline">Blog</a>
						</li>
					</ul>
				</div>
				<div>
					<h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">COMMUNITY</h2>
					<ul class="text-gray-500 dark:text-gray-400 font-medium">
						<ul class="text-gray-500 dark:text-gray-400 font-medium ">
							<li class="mb-4">
								<a href="https://discord.gg/eBQ2QUkVXy" target="_blank" class="hover:underline flex items-center">
								Discord</a>
							</li>
							<li class="mb-4">
								<a href="https://x.com/navio_official" target="_blank" class="hover:underline flex items-center">
								Twitter</a>
							</li>
							<li class="mb-4">
								<a href="https://github.com/nav-io/" target="_blank" class="hover:underline flex items-center">
								GitHub</a>
							</li>
							<li class="mb-4">
								<a href="https://navio.medium.com/" target="_blank" class="hover:underline flex items-center">
								Medium</a>
							</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>